{**
 * index.tpl
 *
 * 
 *
 * $Id$
 *}
<div id="backPlugin">
	<center><a href="{url page="issue" op="view" path="$num_issue"}" id="backLink">{translate key="plugins.generic.back.back"}</a></center>
</div>
