{**
 * index.tpl
 *
 * 
 *
 * $Id$
 *}
<div id="div_updater">
	<form method="post" action = "{url page="manager"}">
		<input type="hidden" name="update" value="1"/>
		<input type="submit" value="Empezar update">
	</form>
	
	{if $updated == 1}
		{$smarty.post.updated}
		<p>Update finalizado</p>
	{/if}
</div>
